<nav class="collapse navbar-collapse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="['/']" routerLinkActive="router-link-active" >Recipe</a>
    </div>


  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li routerLinkActive="active"><a href="#" [routerLink]="['/recipe']"   >Recipe <span class="sr-only">(current)</span></a></li>
      <li routerLinkActive="active"><a href="#" [routerLink]="['/shopping']">Shopping List</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown" appDropDownBind>
        <a class="dropdown-toggle" role="button">Manage
          <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a style="cursor: pointer;">Fetch data</a></li>
          <li><a style="cursor: pointer;">Save data</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
</nav>
