<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmitForm(shopFormref)" #shopFormref="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="Name">Name</label>
          <input type="text"
                  id="name"
                  class="form-control"
                  ngModel
                  name="name"
                  #name="ngModel"
                  required
                  appHostBindingHighlightDirective>
        </div>
      </div>
      <div class="row">
          <div class="col-sm-5  form-group">
              <label for="Amount">Amount</label>
              <input type="number"
                      id="amount"
                      class="form-control"
                      ngModel
                      name="amount"
                      #amount="ngModel"
                      required>
          </div>
      </div>
      <div class="row">
        <div class="col-xs-12 btn-group">
          <button type="submit" class="btn btn-success" [disabled]="!shopFormref.valid">{{editMode ? 'Update' : 'Add'}}</button>
          <button type="button" class="btn btn-danger" (click)="delete()">Delete</button>
          <button type="button" class="btn btn-primary" (click)="clear()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
